<section id="home" class="intro-section">
    <div class="container">
        <div class="row align-items-center">                
            <div class="col-md-6 d-flex justify-content-center">                
                <section class="main-tabla-billetera">
                    <div class="tabla-billetera">
                        <p class="titulo-tabla-billetera">Mi Billetera</p>
                        <div class="contenedor-tabla-billetera">
                            <table>
                                <tr>
                                    <td class="borde-superior-izquierdo">Bitcoin</td>
                                    <td class="borde-superior-derecho celda-derecha">0.0024 BTC</td>
                                </tr>
                                <tr>
                                    <td>Ethereum</td>
                                    <td class="celda-derecha">0.03 ETH</td>
                                </tr>
                                <tr>
                                    <td>LiteCoin</td>
                                    <td class="celda-derecha">0.70 LTH</td>
                                </tr>
                                <tr>
                                    <td class="borde-inferior-izquierdo">Tether</td>
                                    <td class="borde-inferior-derecho celda-derecha"> 100.05 USDT</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="fecha-tabla">
                            <p><b>Actualizado:</b> 18 de Enero 21:00</p>
                        </div>
                    </div>
                    </section>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <section class="main-tabla-cotizaciones">                
                    <div class="tabla-cotizaciones">
                        <p class="titulo-tabla-cotizaciones">Cotizaciones</p>
                        <div class="contenedor-tabla-cotizaciones">
                            <table>
                                <tr>
                                    <td class="borde-superior-izquierdo">Bitcoin</td>
                                    <td class="borde-superior-derecho celda-derecha">U$S 40.000</td>                                                                
                                </tr>
                                <tr>
                                    <td>Ethereum</td>
                                    <td class="celda-derecha">U$S 3.000</td>
                                </tr>
                                <tr>
                                    <td>LiteCoin</td>
                                    <td class="celda-derecha">U$S 141</td>
                                </tr>
                                <tr>
                                    <td class="borde-inferior-izquierdo">Tether</td>
                                    <td class="borde-inferior-derecho celda-derecha">U$S 380</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="fecha-tabla">
                            <p><b>Actualizado:</b> 18 de Enero 21:00</p>
                        </div>
                    </div>
                </section>
            </div>            
        </div>
    </div>    
</section>
