<section id="home" class="intro-section">
    <div class="container">
        <div class="row align-items-center">                
            <div class="col-md-6 intros text-start">
                <h1 class="display-2">Aca va algo</h1>
                <button type="button" class="rounded-pill btn-rounded">Boton</button>
            </div>
            
            <div class="col-md-6 intros text-start">
                <h1 class="display-2">Aca va otra cosa</h1>
                <button type="button" class="rounded-pill btn-rounded">Otro Boton</button>
            </div>
        </div>
    </div>    
</section>
