<section id="valores" class="container bg-white pt-5 pb-5">    
  <div class="row d-flex justify-content-center mb-4">
    <div class="col-md-10 d-flex justify-content-center">        
      <div>
        <h2 class="text-primary fw-bold fs-2 text-wrap text-left">Nos preocupamos por cada detalle</h2>
        <p class="text-black fw-light mb-4 fs-5 text-left">Contamos con la tecnología para proteger tus fondos y asegurar cada una de tus operaciones.</p>
      </div>
      <p class="text-dark fst-italic h5 ms-5 mt-4 mb-5 rotate-text col-md-2 d-none d-lg-block">&nbsp; Valores ——</p>
    </div>
  </div>
  
  <div class="row g-2 d-flex justify-content-center g-lg-5">
    <div class="col-md-4 col-lg-3 d-flex flex-column">
      <div class="card hoverable-card flex-grow-1 shadow-sm">
        <div class="card-body d-flex flex-column justify-content-between">
          <h3 class="card-title mb-3">Seguridad</h3>
          <p class="card-text fw-light fs-5 mb-5">Tres capas de seguridad y doble factor de autenticación.</p>
          <a href="#" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>  

    <div class="col-md-4 col-lg-3 d-flex flex-column">
      <div class="card hoverable-card flex-grow-1 shadow-sm">
        <div class="card-body d-flex flex-column justify-content-between">
          <h3 class="card-title mb-3">Innovación</h3>
          <p class="card-text fw-light fs-5 mb-5">Somos líderes en desarrollo Blockchain y smart contracts.</p>
          <a href="#" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 d-flex flex-column">
      <div class="card hoverable-card flex-grow-1 shadow-sm">
        <div class="card-body d-flex flex-column justify-content-between">
           <h3 class="card-title mb-3">Confianza</h3>
           <p class="card-text fw-light fs-5 mb-5">Más de 2 millones de usuarios ya nos eligieron.</p>
           <a href="#" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>  
  </div>
</section>