<!-- Contacto -->
<article id="contact">
    <h2>Contacto</h2>
    <div class="space-10"></div>
    <h3>Deja tu Mensaje</h3>
    <div class="row  justify-content-center">
        <div class="col-md-6 mb-3">
            <label for="txtNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="txtNombre" placeholder="Tu Nombre">
        </div>
    </div>
    <div class="row  justify-content-center">
        <div class="col-md-6 mb-3">
            <label for="txtEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="txtEmail" placeholder="name@example.com">
        </div>
    </div> 
    <div class="row  justify-content-center">
        <div class="col-md-6  mb-3">
            <label for="txtMensaje" class="form-label">Escribe tu Mensaje</label>
            <textarea class="form-control" id="txtMensaje" rows="3"></textarea>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">            
            <a class="btn btn-success  px-3 py-2">Enviar Mensaje</a>
        </div>
    </div>    
</article>
