<header id="header">
    <div class="row">
      <div class="col-md-6  align-self-center">
        <h1 class="text-center align-middle">
          <h1>Empezá ahora a
                             
            Manejar tu economia Digital</h1>
        </h1>
        <h4 class="text-center">Únete a la mayor exchange de criptomonedas del  mundo.</h4>
        <p class="text-center">
          <a routerLink="/register" routerLinkActive="active" class="btn btn-success py-4 px-5 mx-4 mt-2">Registrate</a>
          <a routerLink="/login" routerLinkActive="active" class="btn btn-success py-4 px-5 mt-2">Iniciar Sesión</a>
        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/img/welcome-img.png" width="90%" alt="Imagen Presentacion">
      </div>
    </div>
</header>
