<!-- Register -->
<div id="register" class="container">
    <form method="post" action="#">
      <h2  class="text-center">Crear Cuenta/Registrarse</h2>
        <div class="row  justify-content-center">
            <div class="col mb-3">
                <label for="txtNombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="txtNombre" placeholder="tu nombre">
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col mb-3">
                <label for="txtApellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="txtApellido" placeholder="tu Apellido">
            </div>
        </div>
        <div class="row  justify-content-center">
          <div class="col mb-3">
              <label for="txtEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="txtEmail" placeholder="name@example.com">
          </div>
        </div> 
        <div class="row  justify-content-center">
          <div class="col mb-3">
              <label for="txtPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="txtPassword" placeholder="Password">
          </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col mb-3">
                <label for="txtRPassword" class="form-label">Reingrese Password</label>
                <input type="password" class="form-control" id="txtRPassword" placeholder="Reingrese Password">
            </div>
          </div>
        <div class="row justify-content-center">
            <div class="col mb-3">            
                <a class="btn btn-success  px-3 py-2">Crear Cuenta</a>
            </div>
            <div class="col my-2">            
                <a class="txt-primary" routerLink="/login">Iniciar Sesion</a>
            </div>
        </div>
    </form>
  
</div>
