<app-nav-user></app-nav-user>  
<div id="dashboard" class="container-fluid rounded pt-4">
    <div class="card mb-3">
      <h5 class="card-header bg-dark text-light"><i class="bi bi-coin"></i> &nbsp;Mi Billetera</h5>
      <div class="card-body">
        <div class="row">
          <div class="row row-cols-4"  >
            <div class="col" *ngFor="let element of wallet" >
              <app-section-money [money]="element"></app-section-money>
              <!--
              <div class="card mb-3">
                <h5 class="card-header"><i class="bi bi-coin"></i> &nbsp;{{element.moneda}}</h5>
                <div class="card-body">      
                    <img src="assets/img/{{element.moneda}}.png" class="img-fluid">
                    $ {{element.monto}}                  
                </div>
              </div>
              -->
            </div>            
          </div>          
      </div>      
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-buy text-white mb-3">
          <h5 class="card-header"><i class="bi bi-cart-plus"></i> &nbsp;Comprar</h5>
          <div class="card-body">
            <form>
                <div class="row justify-content-center">
                  <div class="col mb-3">
                      <label for="drMoney" class="form-label">Moneda</label>
                      <select class="form-control" id="drMoney">
                        <option selected>Seleccione</option>
                      </select>
                  </div>
                  <div class="col mb-3 text-center">
                    <p class="money">$0</p>
                </div>
                </div> 
                <div class="row justify-content-center">
                  <div class="col mb-3">
                      <label for="txtnumber" class="form-label">Cantidad</label>
                      <input id="txtnumber" class="form-control" placeholder="cantidad" type="number" step="0.00001">
                  </div>
                  <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col mb-3 text-center">            
                        <a class="btn btn-primary px-4 py-3"  routerLink="/dashboard">Comprar</a>
                    </div>                    
                </div>
            </form> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-sell text-white mb-3">
          <h5 class="card-header"><i class="bi bi-cart-dash"></i> &nbsp;Vender</h5>
          <div class="card-body">      
            <form>
              <div class="row justify-content-center">
                <div class="col mb-3">
                    <label for="drMoney" class="form-label">Moneda</label>
                    <select class="form-control" id="drMoney">
                      <option selected>Seleccione</option>
                    </select>
                </div>
                <div class="col mb-3 text-center">
                  <p class="money">$0</p>
              </div>
              </div> 
              <div class="row justify-content-center">
                <div class="col mb-3">
                    <label for="txtnumber" class="form-label">Cantidad</label>
                    <input id="txtnumber" class="form-control" placeholder="cantidad" type="number" step="0.00001">
                </div>
                <div class="col"></div>
              </div>
              <div class="row">
                  <div class="col mb-3 text-center">            
                      <a class="btn btn-danger px-4 py-3"  routerLink="/dashboard">Vender</a>
                  </div>                    
              </div>
          </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-transfer text-white mb-3">
          <h5 class="card-header"><i class="bi bi-cash-coin"></i> &nbsp;Transferir</h5>
          <div class="card-body">      
            <form>
              <div class="row justify-content-center">
                <div class="col mb-3">
                    <label for="drMoney" class="form-label">Moneda</label>
                    <select class="form-control" id="drMoney">
                      <option selected>Seleccione</option>
                    </select>
                </div>
                <div class="col mb-3 text-center">
                  <p class="money">$0</p>
              </div>
              </div> 
              <div class="row justify-content-center">
                <div class="col mb-3">
                    <label for="txtnumber" class="form-label">Cantidad</label>
                    <input id="txtnumber" class="form-control" placeholder="cantidad" type="number" step="0.00001">
                </div>
                <div class="col"></div>
              </div>
              <div class="row">
                  <div class="col mb-3 text-center">            
                      <a class="btn btn-success px-4 py-3"  routerLink="/dashboard">Transferir</a>
                  </div>                    
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>       
  <div class="card">
    <h5 class="card-header"><i class="bi bi-info-circle"></i> &nbsp;Ultimos Movimientos</h5>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <app-operations></app-operations>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>