/*CABEZERA*/
.inicio-sesion:hover,
.regsitrate:hover{
  background-color: #0d6efd;
  transition: all .5s;
  color: white;
}

.hoverable-card:hover {
  transform: scale(1.2);
  z-index: 9;
}

.hoverable-card {
  transition: .3s;
}