/*CABEZERA*/
.inicio-sesion:hover,
.regsitrate:hover{
  background-color: #0d6efd;
  transition: all .5s;
  color: white;
}

.barra-navegacion{
  height: 75px;
}

.logo{
  font-size: 30px;
}


/* Tarjetas con efecto on hover */
.hoverable-card:hover {
  transform: scale(1.2);
  z-index: 9;
}

.hoverable-card {
  transition: .3s;
}