<article id="team" name="team">
    <h2 class="text-center">Team</h2>
    <div class="row justify-content-center mx-2 my-2">      
      <div class="col-md-4 cardTeam">
        <img src="assets/img/vacante.jpg" class="rounded mx-auto"  alt="Imagen Presentacion">
        <h3>XXX XXXX</h3>
        <h4>Desarrollador</h4>
        <div class="row justify-content-center mt-0  mb-4">
            <div class="col-3">
                <a class="ico ico-1" href="#" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>          
      </div>
      <div class="col-md-4 cardTeam">
        <img src="assets/img/florencia.jpg" class="rounded mx-auto"  alt="Florencia Bergesio">
        <h3>Bergesio Florencia</h3>
        <h4>Desarrolladora</h4>
        <div class="row justify-content-center mt-0 mb-4">
            <div class="col-3">
                <a class="ico ico-1" href="https://www.linkedin.com/in/maríaflorenciabergesiomoreno/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>          
      </div>
    </div>
    <div class="row justify-content-center mx-2 my-3">
        <div class="col-md-4 cardTeam">
            <img src="assets/img/diego.jpg" class="rounded mx-auto"  alt="Imagen Presentacion">
            <h3>Di Giorgio Diego</h3>
            <h4>Desarrollador</h4>
            <div class="row justify-content-center mt-0  mb-4">
                <div class="col-3">
                    <a class="ico ico-1" href="https://www.linkedin.com/in/diego-di-giorgio" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>          
          </div>          
          <div class="col-md-4 cardTeam">
            <img src="assets/img/guillermo.jpg" class="rounded mx-auto"  alt="Imagen Presentacion">
            <h3>Velasco Guillermo</h3>
            <h4>Desarrollador</h4>
            <div class="row justify-content-center mt-0 mb-4">
                <div class="col-3">
                    <a class="ico ico-1" href="https://www.linkedin.com/in/guillermoavelasco/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>          
          </div>
    </div>
</article>