<div class="fondo-navyhero img-fluid">
    <div id="hero" class="container-fluid pt-5 pb-5">
        <div class="row justify-left">
            <div class="columna-cen-izq">
                <h2 class="h2 text-light fw-bold display-5"> Descubrí el futuro <br /> de la economía <br /> digital </h2>
                <p class="text-light fw-light fs-5 text mb-5"> Comprá y vendé criptomonedas de la manera más simple.</p>
                <a href="#" class="btn btn-light rounded-pill mt-5" role="button" data-bs-toggle="button">&nbsp; Empezar &nbsp;</a>
            </div>
        </div>
    </div>
</div>