<section id="acceso" class="container-fluid bg-white pt-5 pb-3 grid ">
  <div class="row justify-content-right">

    <div class="col-xs-12 col-md-6 d-flex flex-column justify-content-center">
      <h2 class="text-dark ms-4 h5 mb-5 fst-italic">Acceso ———</h2>
      <div class="container">
        <h3 class="display-3 font-italic mb-4">Somos tu puerta de acceso al mundo cripto</h3>
        <p>Queremos que tu viaje por la nueva economía digital sea fácil. Por eso diseñamos una plataforma con
          herramientas e información para brindarte una experiencia única.</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 d-flex flex-column justify-content-center p-0">
      <div class="">
        <img class="img-fluid border-2"
          src="https://ripio-cms-us.s3.amazonaws.com/filer_public/00/db/00db026f-a8f8-45f9-86e4-8b4f41daaa42/ilus_acceso3x.png"
          alt="acceso al mundo cripto">
      </div>

    </div>
  </div>
</section>