<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Movimiento</th>
        <th scope="col">Importe Cotizado</th>
        <th scope="col">Importe</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let operation of operations">
        <td>{{operation.date}}</td>
        <td>{{operation.tipo}}</td>
        <td><i class="bi bi-coin"></i> 1</td>
        <td>{{operation.amount}}</td>
      </tr>
    </tbody>
  </table>


