<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Egreso</th>
        <th scope="col">Ingreso</th>
        <th scope="col">Tipo de Movimiento</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let operation of operations">
        <td>{{operation.fecha}}</td>
        <td>{{operation.cantidad_Origen}}</td>
        <td>{{operation.cantidad_Destino}}</td>        
        <td>{{operation.fk_tipoMovimiento}}</td>
        
      </tr>
    </tbody>
  </table>


