.footer {  
  width: 100%;
  background: rgba(22, 21, 21, 0.993);
}

.lista-footer{
  list-style: none;
  line-height: 40px;
}

.lista-item a{
  text-decoration: none;
  color: #949494;
}

.info-footer{
  font-size: 12px;
}

.lista-redes{
  list-style: none;
}